{%extends 'base.html'%}

{%import 'bootstrap/wtf.html' as wtf%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div>
        <div class="card">
          <div class="card-body">
            <h2>{{post.title}}</h2>
            <h4>{{post.summary}}</h4>
            <p>{{post.content}}</p>
          </div>
        </div>
      </div>
      {{wtf.quick_form(comment_form)}}
      {%for comment in comments%}
      <div class="card">
        <div class="card-body">
          <p>{{comment.description}}</p>
        </div>
      </div>
      {% endfor%}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{%endblock%}