<nav class="navs mb-1 navbar bg-white sticky-top navbar-expand-lg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class=" navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.logout')}}">Log out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.signup')}}">Signup</a>
      </li>
      {%endif%}
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      {% if current_user.is_authenticated %}
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="{{url_for('main.profile',uname=current_user.username)}}">
          <img src="/static/default.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" height="35">
        </a>
      </li>
      {% else %}
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" height="35">
        </a>
      </li>
      {%endif%}
    </ul>
  </div>
</nav>